@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
:root {
  --primary-color: #464749;
  --secondary-color: #803f97;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 115px;
  margin: 0 auto;
}

header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 60px;
}

header nav {
  display: none;
}

header a {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

header a div {
  color: #1f5b7b;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -5px;
}

header a .sponsor {
  display: block;
  width: 80px;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdf5f9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #54bfa3;
  padding: 10px;
  margin-top: 15px;
  font-weight: 600;
}

.mobile img {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.mobile span {
  display: block;
}

main {
  background-image: url(https://diceflow.in/home-static/images/background.svg);
  position: relative;
  background-repeat: no-repeat;
  min-height: calc(100vh - 115px);
  background-size: 100% 145vw;
  background-position-x: 10vw;
  background-position-y: -20vw;
  margin-top: 40px;
  padding-bottom: 120px;
}

main section {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

main section .stamp {
  position: absolute;
  top: -40px;
  right: -50px;
  width: 120px;
  height: 120px;
}

main section h1 {
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-weight: 400;
  margin-bottom: 40px;
  width: 90%;
}

main section img {
  display: block;
  width: 250px;
  height: auto;
  margin: 10px auto;
}

main section p {
  color: var(--primary-color);
  line-height: 2;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

main section button {
  padding: 14px 25px;
  border-radius: 20px;
  border: none;
  background-color: #00ae8d;
  font-size: 14px;
  cursor: pointer;
  color: #ffff;
  margin: 40px 0;
}

main .desktop-img {
  display: none;
}

#features {
  background-image: url(https://diceflow.in/home-static/images/background-2.svg);
  background-repeat: no-repeat;
  position: relative;
  margin-top: -100px;
  padding-bottom: 100px;
  background-position: -25vw -5vw;
  background-size: 120vw 150vw;
}

#features h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--secondary-color);
}

#features ul {
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
}

#features ul li {
  border: 1px solid rgba(70, 71, 73, 0.4);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  list-style: none;
  padding: 25px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

#features ul li figure {
  display: block;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 150px;
  margin-bottom: 20px;
}

#features ul li figure img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#features ul li figure figcaption h6 {
  font-size: 18px;
  color: #5b5b5d;
  font-weight: 500;
}

#features ul li figure figcaption p {
  font-size: 12px;
  margin: 20px 0;
  color: #5b5b5d;
}

#features .arrow-buttons {
  position: absolute;
  width: 100%;
  top: 40%;
}

#features .arrow-buttons .left-arrow {
  position: absolute;
  width: 30px;
  left: 6px;
}

#features .arrow-buttons .right-arrow {
  position: absolute;
  width: 30px;
  right: 6px;
}

#register {
  background-image: url(https://diceflow.in/home-static/images/background.svg);
  background-repeat: no-repeat;
  background-position: 55vw 2vw;
  background-size: 65vw;
}

#register h2 {
  font-size: 1.5rem;
  text-align: center;
  font-size: 500;
  color: var(--secondary-color);
}

#register .heading-descreption {
  display: block;
  font-size: 0.75rem;
  text-align: center;
  color: #5b5b5d;
  margin: 30px auto;
  font-weight: 500;
}

#register .heading-descreption::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #00ae8d;
  margin: 50px auto;
}

#register ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0;
  width: 100%;
  padding-left: 0;
}

#register ul .plan {
  border: 1px solid rgba(70, 71, 73, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(70, 71, 73, 0.2);
          box-shadow: 0px 0px 8px rgba(70, 71, 73, 0.2);
  position: relative;
  background-color: #ffff;
  padding: 3.12rem 0.6rem;
  margin: 0 auto;
  margin-left: 10px;
  width: 95%;
  list-style: none;
}

#register ul .plan h4 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 500;
}

#register ul .plan h4::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #00ae8d;
  margin: 1.25rem auto;
}

#register ul .plan span {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  color: var(--secondary-color);
  margin-bottom: 1.8rem;
}

#register ul .plan .cost {
  font-weight: 600;
  font-size: 1.8rem;
}

#register ul .plan .users {
  margin: 1.25rem 0;
  font-size: 0.7rem;
  color: var(--primary-color);
  text-align: center;
}

#register ul .plan button {
  padding: 0.75rem 2.8rem;
  border: 1px solid #00ae8d;
  background-color: #ffff;
  color: #00ae8d;
  border-radius: 1.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 2.5rem auto 0;
}

#register ul .plan-detail {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  padding: 3.75rem 1.25rem;
  border: 1px solid rgba(70, 71, 73, 0.2);
  margin-bottom: 2rem;
}

#register ul .plan-detail p {
  color: #292929;
  text-align: center;
  line-height: 1.5;
  font-size: 0.85rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #f5f6fa;
  height: auto;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

footer div .about {
  width: 90%;
}

footer div .about h4 {
  font-size: 1.1rem;
  color: #5b5b5d;
}

footer div .about article p {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 1.25rem 0;
  color: var(--primary-color);
}

footer div nav ul {
  padding: 0;
}

footer div nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

footer div nav ul li h5 {
  font-size: 1.1rem;
  color: #5b5b5d;
  margin-bottom: 1rem;
}

footer div nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.8rem;
  counter-reset: var(--primary-color);
  font-weight: 500;
  margin-bottom: 8px;
}

footer div .subscribe {
  width: 90%;
}

footer div .subscribe h4 {
  font-size: 1.1rem;
  color: #5b5b5d;
}

footer div .subscribe article p {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 1.25rem 0;
  color: var(--primary-color);
}

footer div .subscribe input {
  padding: 0.8rem 0.75rem;
  border: 1px solid #5b5b5d;
  border-radius: 1.25rem;
  color: #5b5b5d;
}

footer div .subscribe button {
  padding: 0.8rem 0.75rem;
  background-color: var(--secondary-color);
  color: #ffff;
  border-radius: 0.75rem;
  border: none;
  margin-left: -30px;
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    width: 90%;
    height: 115px;
    margin: 0 auto;
  }
  header .logo {
    margin-top: 45px;
    height: 60px;
  }
  header .sponsor {
    height: 60px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav a {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 13px;
    padding: 5px;
    margin: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav a img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  header a {
    text-decoration: none;
  }
  header a div {
    color: #1f5b7b;
    font-size: 10px;
    font-weight: 500;
    margin-top: 50px;
  }
  .mobile {
    display: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-image: url("https://diceflow.in/home-static/images/background.svg");
    background-repeat: no-repeat;
    background-size: 85vw 50vw;
    background-position-x: 35vw;
    min-height: calc(100vh - 115px);
    padding-bottom: 120px;
  }
  main section {
    position: relative;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  main section .stamp {
    position: absolute;
    top: 0;
    right: -40px;
    width: 120px;
    height: 120px;
  }
  main section h1 {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
    width: 80%;
  }
  main section p {
    color: var(--primary-color);
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  main section button {
    border-radius: 20px;
    border: none;
    padding: 14px 25px;
    margin: 40px 0;
    color: white;
    background-color: #00ae8d;
    font-size: 14px;
    cursor: pointer;
  }
  main figure {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    display: block;
  }
  main figure img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
  #features {
    margin-top: -100px;
    padding-bottom: 200px;
    background-image: url("https://diceflow.in/home-static/images/background-2.svg");
    background-repeat: no-repeat;
    background-image: -10vw -5vw;
    background-size: 55vw 55vw;
    position: relative;
  }
  #features h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--secondary-color);
  }
  #features ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 80%;
    margin: 20px auto;
    padding: 20px 0;
  }
  #features ul li {
    border: 1px solid rgba(70, 71, 73, 0.4);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    list-style: none;
    padding: 25px;
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: -webkit-box-shadow 500ms ease;
    transition: -webkit-box-shadow 500ms ease;
    transition: box-shadow 500ms ease;
    transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
  }
  #features ul li figure img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #features .arrow-buttons {
    position: absolute;
    width: 100%;
    top: 55%;
  }
  #features .arrow-buttons .left-arrow {
    position: absolute;
    left: 60px;
    width: 35px;
  }
  #features .arrow-buttons .right-arrow {
    position: absolute;
    right: 60px;
    width: 35px;
  }
}
