@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root {
    --primary-color: #464749;
    --secondary-color: #803f97;
    --button-color: #00ae8d;
    --dark-shadows: #5b5b5d;
    font-size: 62.5%;
}

$font-weight: 500;

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 11.5rem;
    margin: 0 auto;

    nav {
        display: none;
    }

    @media screen and (min-width: 1023px) {
		nav {
            // display: block;
            display: flex;
            align-self: center;
            justify-content: center;
            width: 100%;

             a {
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 500;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
                // justify-content: space-between;


                img {
                    width: 16px;
                    height: 16px;
                    object-fit: contain;
                    margin-right: 5px;
                }
             }
        }
	}
    
    .logo {
        align-self: center;
        height: 6rem;
        margin-top: 4rem;
    }

    a {

        text-decoration: none;
        align-self: center;
        text-align: center;
        margin-top: 3rem;
        // padding-top: 1rem;
        
        span {
            color: #1f5b7b;
            font-size: 1rem;
            font-weight: $font-weight;
            margin-bottom: -0.5rem;
            display: block;
        }
        .sponsor {
            display: block;
            width: 8rem;
            
        }
    }
}

.mobile-app-redirect {

    @media screen and (min-width: 1023px){
        display: none;
    }

    display: flex;
    background-color: #fdf5f9;
    justify-content: center;
    color: #54bfa3;
    padding: 1rem;
    margin-top: 1.5rem;
    font-weight: 600;

    img {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.5rem;
    }
    span {
        display: block;
        // color: #54bfa3;
    }
}

.upfold {

    background-image: url(https://diceflow.in/home-static/images/background.svg);
    position: relative;
    background-repeat: no-repeat;
    min-height: calc(100vh - 11.5rem);
    background-size: 100% 145vw;
    background-position-x: 10vw;
    background-position-y: -20vw;
    // margin-top: 4rem;
    padding-bottom: 12rem;

    @media screen and (min-width: 1023px) {
        display: flex;
        // position: relative;
        // background-image: url(https://diceflow.in/home-static/images/background.svg);
        // background-repeat: no-repeat;
        background-size: 85vw 50vw;
        background-position-x: 35vw;
        background-position-y: 0;
        // min-height: calc(100vh - 115px);
        // padding-bottom: 120px;
        // display: block;
        align-items: center;
        justify-content: space-around;
    }
    
    .upfold-content {

        position: relative;
        width: 80%;
        margin: 0 auto;

        @media screen and (min-width: 1023px) {
            flex-basis: 30%;
            position: relative;
            // width: 100%;
            margin: 0;
            // width: 0;
        }

        .stamp {
            position: absolute;
            top: -1rem;
            // bottom: 20px;
            right: -3.8rem;
            width: 12rem;
            height: 12rem;
            display: block;
            // margin: 0;
            @media screen and (min-width: 1023px) {
                position: absolute;
                top: 2rem;
                right: -4rem;
                width: 12rem;
                height: 12rem;
            }

        }

        h1 {
            font-size: 3rem;
            color: var(--secondary-color);
            font-weight: 400;
            margin-bottom: 4rem;
            width: 90%;

            @media screen and (min-width: 1023px) {
                width: 80%;
                font-size: 3.6rem;
            }
        }

        img {
            display: block;
            width: 25rem;
            height: auto;
            margin: 1rem auto;

            @media screen and (min-width: 1023px) {
                display: none;
            }


        }

        p{
            color: var(--primary-color);
            line-height: 2;
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 1.5rem;

            @media screen and (min-width: 1023px) {
                font-weight: 500;
            }
        }

        button {
            padding: 1.4rem 2.5rem;
            border-radius: 2rem;
            border: none;
            background-color: var(--button-color);
            font-size: 1.4rem;
            cursor: pointer;
            color: #ffff;
            margin: 4rem 0;
        }
    }

    .upfold-image {
        display: none;

        @media screen and (min-width: 1023px) {
            display: block;
            flex-basis: 30%;

            figure {
                img {
                    display: block;
                    width: 25rem;
                    height: auto;
                    margin: 0 auto; 
                }
            }
        }

    }
}

#features {
    background-image: url(https://diceflow.in/home-static/images/background-2.svg);
    background-repeat: no-repeat;
    position: relative;
    margin-top: -10rem;
    padding-bottom: 10rem;
    background-position: -25vw -5vw;
    background-size: 120vw 150vw;
    // margin-bottom: 10rem;
    @media screen and (min-width: 1023px) {
        background-position: -10vw -5vw;
        background-size: 55vw 55vw;
        position: relative;
    }

    h3 {
        font-size: 2.4rem;
        font-weight: $font-weight;
        text-align: center;
        color: var(--secondary-color);
    }

    ul {
        width: 80%;
        margin: 2rem auto;
        padding: 2rem 0;

        li {
            border: 0.1rem solid var(--primary-color);
            width: 80%;
            margin: 0 auto;
            border-radius: 1rem;
            list-style: none;
            padding: 2.5rem;
            height: 40vh;
            display: flex;
            flex-direction: column;
            background-color: white;

            figure {

                display: block;
                flex-shrink: 1;
                flex-grow: 1;
                height: 15rem;
                margin-bottom: 2rem;

                img {
                    display: block;
                    height: 100%;
                    width: auto;
                    margin: 0 auto;
                    object-fit: cover;
                }
            }

            // div {
            //     h6 {
            //         font-size: 1.8rem;
            //         color: var(--dark-shadows);
            //         font-weight: $font-weight;
            //     }
    
            //     p {
            //         font-size: 1.2rem;
            //         margin: 2rem 0;
            //         color: var(--dark-shadows);
            //     }
            // }

            h6 {
                font-size: 1.8rem;
                color: var(--dark-shadows);
                font-weight: $font-weight;
            }

            p {
                font-size: 1.2rem;
                margin: 2rem 0;
                color: var(--dark-shadows);
            }

        }
    }

    .arrow-buttons {
        position: absolute;
        width: 100%;
        top: 40%;

        img:nth-child(1) {
            position: absolute;
            width: 3rem;
            left: 0.6rem;
        }

        img:nth-child(2) {
            position: absolute;
            width: 3rem;
            right: 0.6rem;
        }
    }
}

#register {
    background-image: url(https://diceflow.in/home-static/images/background.svg);
    background-repeat: no-repeat;
    background-position: 55vw 2vw;
    background-size: 65vw;

    h2 {
        font-size: 2.4rem;
        text-align: center;
        font-size: $font-weight;
        color: var(--secondary-color);
    }

    .heading-description {
        display: block;
        font-size: 1.2rem;
        text-align: center;
        color: var(--dark-shadows);
        margin: 3rem auto;
        font-weight: $font-weight;
        // width: 80%;

        @media screen and (min-width: 1023px) {
            width: 30%;
        }

        &::after {
            content: "";
            display: block;
            width: 8rem;
            height: 0.3rem;
            background-color: var(--button-color);
            margin: 5rem auto;
        }
        
    } 

    // .heading-descreption::after {
    //         content: "";
    //         display: block;
    //         width: 8rem;
    //         height: 0.3rem;
    //         background-color: var(--button-color);
    //         margin: 5rem auto;
    // }

    ul {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 0;
        // width: 100%;  
        width: 95%;
        // list-style: none;
        padding-left: 0;

        @media screen and (min-width: 1023px) {
            flex-direction: row;
            justify-content: center;
            // align-items: center;
            width: 90%;
            margin: 0 auto;
            // margin: 0;
            // margin-right: auto;
        }

        li:nth-child(1) {
            // border: 1px solid rgba(70, 71, 73, 0.2);
            border: 0.1rem solid lighten($color: #464749, $amount: 50);
            border-radius: 1rem;
            // box-shadow: 0rem 0rem 8rem rgba(70, 71, 73, 0.2);
            box-shadow: 0rem 0rem 8rem lighten($color: #464749, $amount: 50);
            position: relative;
            background-color: #ffff;
            padding: 5rem 1rem;
            margin: 0 auto;
            margin-left: 1rem;
            width: 90%;
            list-style: none;

            @media screen and (min-width: 1023px) {
                width: calc(25% - 4.5rem);
                padding: 5rem 2rem;
                margin: 0;
            }

            h4 {
                text-align: center;
                color: var(--secondary-color);
                font-size: 2rem;
                font-weight: $font-weight;

                &::after {
                    content: "";
                    display: block;
                    width: 6rem;
                    height: 0.3rem;
                    background-color: var(--button-color);
                    margin: 2rem auto;
                }

            }

            // h4::after {
            //     content: "";
            //     display: block;
            //     width: 6rem;
            //     height: 0.3rem;
            //     background-color: var(--button-color);
            //     margin: 2rem auto;
            // }

            
            span {
                display: block;
                text-align: center;
                font-size: 2rem;
                color: var(--secondary-color);
                margin-bottom: 3rem;
            }
            .cost {
                font-weight: 600;
                font-size: 3rem;    
                margin-bottom: 0;
            }
            .users {
                margin: 2rem 0;
                font-size: 1.2rem;
                color: var(--primary-color);
                text-align: center;
            }

            button {
                padding: 1.2rem 4.5rem;
                border: 0.1rem solid var(--button-color);
                background-color: #ffff;
                color: var(--button-color);
                border-radius: 2rem;
                font-size: 1.3rem;
                font-weight: 600;
                cursor: pointer;
                display: block;
                margin: 4rem auto 0;
            }
        }

        li:nth-child(2) {
            list-style: none;
            width: 70%;
            margin: 0 auto;
            padding: 6rem 2rem;
            border: 1px solid lighten($color: #464749, $amount: 50);
            margin-bottom: 3.2rem;
            background-color: white;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
           
            @media screen and (min-width: 1023px) {
                width: calc(20% - 4.9rem);
                margin: auto 0;
                padding: 9rem 2rem;
                border-left: none;
                border-radius: 1rem;

            }

            p {
                color: #292929;
                text-align: center;
                line-height: 1.5;
                font-size: 1.4rem;
            }
        }
        
    }
}

footer {

    padding-top: 8rem;
    padding-bottom: 4.8rem;
    background-color: #f5f6fa;
    height: auto;
    width: 100%;
    
    @media screen and (min-width: 1023px){
        margin-top: -11.5rem;
        height: 50vh;
        padding: 0;
        width: 100%;
    }
    
    &::before {    
        @media screen and (min-width: 1023px) {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(https://diceflow.in/home-static/images/footer-bg.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -2rem;
        }
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        // width: 80%;
        padding: 0 3rem;
        margin: 0;
        background-color: #f5f6fa;

        @media screen and (min-width: 1023px) {
            
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 8.5rem;
            padding-top: 3rem;
            // width: 96.8%;

        }

        .about {
            width: 90%;
            // margin-bottom: 1.25rem;
            @media screen and (min-width: 1023px) {
                width: 30%;
                padding-top: 1.8rem;
            }


            h4 {
                font-size: 1.8rem;
                color: var(--dark-shadows);
            }

            article {
                p {
                    font-size: 1.2rem;
                    line-height: 2rem;
                    margin: 2rem 0;
                    color: var(--primary-color);
                }
            }
        }

        nav {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            @media screen and (min-width: 1023px) {
                width: 30%;
            }

            ul {
                padding: 0;

                @media screen and (min-width: 1023px) {
                    display: flex;
                    justify-content: space-between;
                    // padding-bottom: 5rem;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    // justify-content: end;
                    list-style: none;
                    // margin: 1.25rem 0;
                    // margin: 0.6rem 0;
                    
                    h5 {
                        font-size: 1.8rem;
                        color: var(--dark-shadows);
                        margin-bottom: 1.6rem;

                        @media screen and (min-width: 1023px) {
                            
                        }
                    }
                    a {
                        text-decoration: none;
                        color: var(--primary-color);
                        font-size: 1.3rem;
                        color: var(--primary-color);
                        font-weight: $font-weight;
                        margin-bottom: 0.8rem;

                    }
                    
                }
            }
        }

        .subscribe {
            width: 90%;

            @media screen and (min-width: 1023px) {
                width: 30%;
                padding-top: 1.8rem;
                padding-right: 5rem;
            }

            
            h4 {
                font-size: 1.8rem;
                color: var(--dark-shadows);
            }

            article {
                p {
                    font-size: 1.2rem;
                    line-height: 2rem;
                    margin: 2rem 0;
                    color: var(--primary-color);
                }
            }

            input {
                padding: 1.3rem 1.2rem;
                border: 1px solid var(--dark-shadows);
                border-radius: 2rem;
                color: var(--dark-shadows);
                // font-weight: $font-weight;
                // background-color: transparent;
            }
            
            button {
                padding: 1.3rem 1.2rem;
                background-color: var(--secondary-color);
                color: #ffff;
                border-radius: 1.2rem;
                border: none;
                margin-left: -3rem;

            }
        }

    }
}

